:80 {
        handle /dbapi/* {
                uri strip_prefix /dbapi
                reverse_proxy 127.0.0.1:9100
        }

        handle {
                root * /var/www/lication
                file_server {
                        hide .git .env Caddyfile deploy.sh
                }
        }
}