:80 {
        handle /agent/* {
                reverse_proxy 127.0.0.1:9000
        }

        import /etc/caddy/apps/*.caddy

        handle {
                root * /var/www/lication
                file_server {
                        hide .git .env Caddyfile deploy.sh
                }
        }
}